<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">CHANSINSA</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" id="myNavbar">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/closet/dashboard/">DashBoard</a>
        </div>
      </div>
    </div>
</nav>
<script>
  var btnContainer = document.getElementById("myNavbar")
  var btns = btnContainer.getElementsByClassName("nav-link")
  if (document.URL.includes("main")){
    btns[1].className = btns[1].className.replace(" active", "");
    btns[0].className += " active";
  } else{
    btns[0].className = btns[0].className.replace(" active", "");
    btns[1].className += " active";
  }
</script>